* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;

}

.sidebar{
  background-color: rgb(5, 5, 71);
  width: 300px;
  height: 100vh;
}

.main{
  display: grid;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100%;
  color: white;
  grid-column: 2/2;
  grid-row: 2/2;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 100px 1fr;
}

.main-header{
  background-color: rgb(95, 0, 0);
  width: 100%;
  color: white;
  grid-column-start: 2;
}

.main-indicators{
  background-color: rgb(2, 100, 87);
  display: flex;
  gap: 10px;
  width: 100%;
  color: white;
  grid-column: 1/2;
}

.indicator{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.main-schedule-today{
  background-color: rgb(9, 71, 1);
  color: white;
  grid-column: 2/2;
  grid-row: 1/6;
}

